@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url(/fonts/opensans.woff);
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url(/fonts/opensansbold.woff);
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url(/fonts/opensanslight.woff);
}

body {
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
}

.visually-hidden {
  visibility: hidden;
}
