.table-body {
  background-color: white;
}

.table-body td {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  border: 3px solid #f2f2f2;
  border-top: 0;
  padding: 15px 0 15px 20px;
}
