.table-price__head tr {
  background-color: @download-bg;
}

.table-price__head th {
  height: 99px;
  min-width: 276px;
  border-right: 3px solid @border-input-color;
}

.table-price__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.table-price__sum {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  text-transform: uppercase;
  color: white;
}

.table-autofocus {
  opacity: 0;
  cursor: default;
  height: 0;
  display: block;
}
