.bg-header-wrap {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: 700px auto;
  background-position-y: 256px;
}

.bg-header-wrap.menu-hide {
  background-position-y: 0;
}

@media (min-width: 660px) {
  .bg-header-wrap {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-position-y: 253px;
    background-position-x: -270px;
    background-size: 1200px auto;
    background-repeat: no-repeat;
  }
}

@media (min-width: 960px) {
  .bg-header-wrap {
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position-x: -683px;
    background-position-y: -2px;
    background-size: 2560px auto;
  }
}

@media (min-width: 320px) and (min-resolution: 144dpi),
(min-width: 320px) and (min-resolution: 1.5dppx) {
  .bg-header-wrap {
    background-image: url(../img/bg-back-mobile@2x.jpg);
  }
}

@media (min-width: 660px) and (min-resolution: 144dpi),
(min-width: 660px) and (min-resolution: 1.5dppx) {
  .bg-header-wrap {
    background-image: url(../img/bg-back-tablet@2x.jpg);
  }
}

@media (min-width: 960px) and (min-resolution: 144dpi),
(min-width: 960px) and (min-resolution: 1.5dppx) {
  .bg-header-wrap {
    background-image: url(../img/bg-back-desktop@2x.jpg);
  }
}
