.map {
  height: 200px;
  background-image: url(../img/bg-triangle-white-footer.svg);
  background-repeat: no-repeat;
  background-position-x: -137px;
  background-position-y: -28px;
}

@media (min-width: 660px) {
  .map {
    height: 377px;
    background-position-x: -7px;
    background-position-y: 0;
    background-size: 700px;
  }
}

@media (min-width: 960px) {
  .map {
    height: 502px;
    margin-bottom: 30px;
    background-position-x: 0;
    background-position-y: -3px;
    background-size: 1200px;
  }
}
