.map {
  min-height: 220px;
  background-image: url(../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
}

@media (min-width: 660px) {
  .map {
    min-height: 373px;
  }
}

@media (min-width: 960px) {
  .map {
    min-height: 497px;
    margin-bottom: 30px;
  }
}
