.offers {
  text-align: center;
}

.offers__list {
  margin: 0 auto;
  width: 275px;
  padding-left: 22px;
}

.offers__text {
  min-height: 197px;
}

.offers__title {
  .offers-text();
  padding-top: 21px;
  padding-bottom: 13px;
}

.offers__text span {
  .offers-text();
  padding-top: 21px;
  padding-bottom: 13px;
}

.offers__wrap {
  min-height: 717px;
  text-align: center;
  background-image: url(../../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 509px;
  padding-top: 70px;
  padding-right: 22px;
}

.offers__list-title {
  color: black;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 14px;
  margin: 0;
}

.offers__list-descr {
  .offers-descr();
}

.offers__bg-wrap {
  background-color: @bg-item-form;
  background-image: url(../../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 320px) and (min-resolution: 144dpi),
(min-width: 320px) and (min-resolution: 1.5dppx) {
  .offers__wrap {
    background-image: url(../../img/iphone-screen-mobile@2x.png);
    background-size: 157px auto;
  }
}

@media (min-width: 660px) {
  .offers__text {
    min-height: 190px;
    padding-top: 51px;
    vertical-align: middle;
  }

  .offers__text h2,
  .offers__text span {
    font-size: 40px;
    font-weight: lighter;
    padding: 0;
    margin: 0;
  }

  .offers__text span {
    display: inline-block;
    width: 335px;
  }

  .offers__list {
    margin: 0;
    width: 49%;
    text-align: left;
    padding-left: 51.5%;
    padding-top: 6px;
  }

  .offers__wrap {
    min-height: 433px;
    background-position: 21px;
    padding-top: 50px;
    background-image: url(../../img/iphone-screen-3-tablet@1x.png);
  }

  .offers__bg-wrap {
    background-size: 186%;
    background-position-y: -42px;
  }
}

@media (min-width: 660px) and (min-resolution: 144dpi),
(min-width: 660px) and (min-resolution: 1.5dppx) {
  .offers__wrap {
    background-image: url(../../img/iphone-screen-3-tablet@2x.png);
    background-size: 268px auto;
  }
}

@media (min-width: 960px) {
  .offers__text h2,
  .offers__text span {
    font-size: 50px;
    padding-left: 0;
  }

  .offers__text span {
    width: 450px;
  }

  .offers__text {
    min-height: 257px;
    padding-top: 69px;
  }

  .offers__wrap {
    min-height: 234px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;;
    background-image: none;
    padding-right: 0;
    padding-top: 0;
  }

  .offers__list-title {
    font-size: 30px;
    line-height: 30px;
    padding-top: 65px;
  }

  .offers__list {
    width: 240px;
    height: 280px;
    text-align: center;
    padding-left: 0;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 288px;
    background-repeat: no-repeat;
    background-position-x: -24px;
    background-position-y: 1px;
  }

  .offers__list-descr {
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
  }

  .offers__wrap > :nth-child(1) {
    background-image: url(../../img/iphone-screen-1-desktop@1x.png);
  }

  .offers__wrap > :nth-child(2) {
    background-image: url(../../img/iphone-screen-2-desktop@1x.png);
  }

  .offers__wrap > :nth-child(3) {
    background-image: url(../../img/iphone-screen-3-desktop@1x.png);
  }

  .offers__bg-wrap {
    background-position-y: -79px;
  }
}

@media (min-width: 960px) and (min-resolution: 144dpi),
(min-width: 960px) and (min-resolution: 1.5dppx) {
  .offers__wrap > :nth-child(1) {
    background-image: url(../../img/iphone-screen-1-desktop@2x.png);
    background-size: 292px;
  }

  .offers__wrap > :nth-child(2) {
    background-image: url(../../img/iphone-screen-2-desktop@2x.png);
    background-size: 292px;
  }

  .offers__wrap > :nth-child(3) {
    background-image: url(../../img/iphone-screen-3-desktop@2x.png);
    background-size: 292px;
  }
}
