.page-header {
  color: white;
}

.page-header__logo {
  position: relative;
  padding-bottom: 23px;
  padding-top: 5px;
  background-color: @download-bg;
}

.bg-header-wrap.menu-hide .page-header__logo {
  background: rgba(0, 0, 0, 0.4);
}

.page-header__switch {
  position: absolute;
  content: "";
  background-image: url(../../img/icon-menu-cross.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  right: 13px;
  top: 20px;
}

.bg-header-wrap.menu-hide .page-header__switch {
  background-image: url(../../img/icon-menu-burger.svg);
  width: 50px;
}

.page-header__logo-star,
.page-header__logo-glasses,
.page-header__logo-text-star {
  display: none;
}

/* бургерр
.page-header__switch.burger {
  background-image: url(../img/icon-menu-burger.svg);
  width: 50px;
}
*/
@media (min-width: 660px) {
  .page-header__logo {
    padding-top: 28px;
    padding-left: 19px;
    min-height: 58px;
  }

  .page-header__logo img {
    padding-left: 3%;
    padding-top: 30px;
  }

  .page-header__switch {
    top: 45px;
  }

  .page-header__logo-glasses {
    display: block;
  }
}

@media (min-width: 960px) {
  .page-header {
    height: 107px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .page-header__logo {
    background-color: transparent;
    padding-right: 18%;
    padding-left: 9px;
  }

  .page-header-wrap {
    background: rgba(0, 0, 0, 0.4);
  }

  .page-header__switch {
    display: none;
  }

  .page-header__logo-star,
  .page-header__logo-text-star {
    display: block;
  }
}

