.page-header {
  color: white;
}

.page-header__logo {
  padding-bottom: 23px;
  padding-top: 21px;
  padding-left: 21px;
}

.page-header-wrap {
  background-color: @header-bg;
}

@media (min-width: 660px) {
  .page-header__logo {
    min-height: 111px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
  }

  .page-header__logo img {
    padding-left: 3%;
    padding-top: 30px;
  }
}

@media (min-width: 960px) {
  .page-header {
    height: 107px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .page-header__logo {
    padding-right: 18%;
  }

  .page-header-wrap {
    background: rgba(0, 0, 0, 0.4);
  }
}

