.page-footer {
  width: 100%;
  min-height: 210px;
  text-align: center;
  padding-top: 10px;

  &--index-mobile {
    display: none;
  }
}

.page-footer__social-links {
  vertical-align: middle;
  text-align: center;
  margin-bottom: 40px;
}

.page-footer__social {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 3px solid @border-input-color;
  border-radius: 40px;
  background-position-x: 16px;
  background-position-y: 14px;

  &--twitter {
    background-image: url(../img/icon-twitter.svg);
    background-repeat: no-repeat;
  }

  &--facebook {
    background-image: url(../img/icon-facebook.svg);
    background-repeat: no-repeat;
    margin-left: 8px;
  }

  &--youtube {
    background-image: url(../img/icon-youtube.svg);
    background-repeat: no-repeat;
    margin-left: 8px;
  }

}

.page-footer__copyright {
  display: inline-block;
  width: 131px;
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  background-position-x: 100px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
}

.page-footer__copyright span {
  margin-top: 6px;
  margin-right: 45px;
  display: block;
}

.page-footer__wrap {
  display: inline-block;
}

.page-footer__logo {
  background-image: url(../img/logo-pink-blue-mobile.svg);
  background-repeat: no-repeat;
  width: 180px;
  height: 83px;
  background-position-y: 3px;
  background-position-x: 17px;

}

@media (min-width: 660px) {
  .page-footer {
    min-height: 0;
    padding-top: 38px;
    padding-left: 0;
    display: inline-block;
    text-align: inherit;
  }

  .page-footer__wrap {
    display: flex;
    justify-content: space-around;
  }

  .page-footer__social-links {
    padding-right: 50px
  }

  .page-footer__copyright {
    padding-top: 12px;
    background-position-y: 11px;
    background-position-x: 105px;
  }

  .page-footer__logo {
    background-position-y:0;
    background-position-x: 0;
  }
}

@media (min-width: 960px) {
  .page-footer.container {
    width: 960px;
    min-height: 125px;
    display: block;
  }

  .page-footer__social-links {
    padding-right: 20px;
    padding-top: 5px;
  }

  .page-footer__copyright span {
    font-size: 18px;
  }

  .page-footer__copyright {
    padding-right: 32px;
    background-position-y: 17px;
    background-position-x: 126px;
  }

  .page-footer__wrap {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .page-footer__logo {
    background-position-y: 4px;
    background-position-x: 8px;
  }
}
