.bg-header-wrap__headline-title {
  .headline-title-text;
}

.bg-header-wrap__headline {
  .headline-title();
  padding:0;
}

.photo-main__caption {
  padding: 31px 35px 35px 35px;
  font-size: 14px;
  line-height: 30px;
}

.photo-main__descr {
  text-align: center;
}

.photo-main__caption-hide {
  display: none;
}

.bg-header-wrap__headline-title {
  &--photo {
    padding-left: 21px;
    padding-bottom: 86px;
  }
}

@media (min-width: 660px) {
  .bg-header-wrap__headline {
    background-image: url(../../img/bg-back-tablet@1x.jpg);
    background-position-x: -270px;
    background-position-y: -111px;
  }

  .bg-header-wrap__headline-title {
    font-size: 50px;
    padding-top: 75px;
    padding-left: 21px;
  }

  .photo-main__caption {
    font-size: 18px;
    line-height: 18px;
    padding: 78px 35px 35px 35px;
  }

  .photo-main__caption-hide {
    display: block;
  }

  .photo-main__descr {
    min-height: 191px;
  }

}

@media (min-width: 960px) {
  .bg-header-wrap__headline {
    min-height: 170px;
    background-color: transparent;
    background-image: none;
    padding-top: 70px;
    padding-bottom: 45px;
  }

  .photo-main__caption {
    line-height: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 75px;
  }

  .photo-main__caption-hide {
    display: none;
  }

  .photo-main__descr {
    min-height: 205px;
  }

  .bg-header-wrap__headline-title {
   padding:0;
    &--photo {
      padding: 0 24%;
    }
  }
}
