.photo-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 19px;
  align-items: center;
}

.photo-card__img-wrap {
  line-height: 0;
}

.photo-card__descr {
  background-color: @bg-item-form;
  padding: 19px 20px 0 20px;
  width: 240px;
}

.photo-card__descr p {
  margin: 0;
}

.photo-card:nth-child(1) {
  position: relative;
  padding: 0 0 20px 0;

  & .photo-card__descr {
    width: 75%;
  }
}

.photo-card:not(:first-child) .photo-card__img {
  width: 280px;
}

.photo-card:nth-child(1) img {
  height: 136px;
}

.photo-card__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.photo-card__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}

.photo-card__user-text {
  font-size: 14px;
  line-height: 24px;
}

.photo-card__like {
  position: relative;
  font-size: 12px;
  line-height: 24px;
  color: @color-pink;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  padding: 9px 0 20px 30px;
}

.photo-card__like::after {
  position: absolute;
  content: "";
  left: -2px;
  top: 15px;
  width: 15px;
  height: 15px;
  background-image: url(../../img/icon-heart.svg);
  background-repeat: no-repeat;
}

.photo-card__footer {
  text-align: center;
}

.photo-card__footer p {
  padding: 10px 23px 29px 23px;
  font-size: 14px;
  line-height: 30px;
}

.photo-card__insc {
  position: absolute;
  content: "";
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  padding: 6px 20px;
  right: 19px;
  font-weight: bold;
  background-color: @color-pink;
}

@media (min-width: 660px) {
  .photo-card__descr {
    display: flex;
    flex-direction: column;
  }

  .photo-card:nth-child(1) {
    & .photo-card__name-wrap {
      order: 1;
      align-self: flex-start;
    }
    & .photo-card__user-text {
      order: 2;
      align-self: flex-start;
    }
    & .photo-card__like {
      align-self: flex-end;
      padding-right: 40px;
    }
  }

  .photo-card:nth-child(1) {
    flex-basis: 100%;
    padding-bottom: 47px;

  }

  .photo-card:nth-child(1) .photo-card__img-wrap {
    width: 660px;
    height: 510px;
    padding: 0;
  }

  .photo-card:nth-child(1) .photo-card__descr {
    width: 87%;
    min-height: 97px;
    padding-left: 26px;
    padding-top: 24px;
  }

  .photo-card:nth-child(1) .photo-card__like {
    padding: 0;
  }

  .photo-card:not(:first-child) .photo-card__descr {
    min-height: 132px;
    width: 250px;
    padding-top: 23px;
    padding-left: 28px;
  }

  .photo-card:not(:first-child) .photo-card__img-wrap {
    min-height: 300px;
  }

  .photo-card__footer p {
    font-size: 18px;
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 60px;
    margin-bottom: 7px;
  }

  .photo-card:not(:first-child) .photo-card__img {
    width: 300px;
  }

  .photo-card:nth-child(1) img {
    height: 509px;
  }

  .photo-card__insc {
    top: 55px;
  }

  .photo-card:nth-child(1) .photo-card__like {
    padding-right: 40px;
  }

  .photo-card:nth-child(1) .photo-card__like::after {
    left: 107px;
    top: 6px;
  }

  .photo-card:not(:first-child) .photo-card__like::after {
    left: 230px;
    top: 41px;
  }
}

@media (min-width: 960px) {
  .photo-card:nth-child(1) .photo-card__img-wrap {
    width: 100%;
    height: 509px;
  }

  .photo-card:nth-child(1) .photo-card__descr {
    width: 72%;
    min-height: 72px;
    padding: 25px 40px 0 30px;
  }

  .photo-card:nth-child(1) {
    padding: 0 0 50px 0;
  }

  .photo-card:not(:first-child) .photo-card__img-wrap {
    min-height: 398px;
  }

  .photo-card:not(:first-child) .photo-card__descr {
    min-height: 132px;
    width: 255px;
    padding-top: 24px;
    padding-left: 24px;
  }

  .photo-card__footer p {
    padding-top: 4px;
    padding-bottom: 60px;
    margin-bottom: 7px;
    margin-top: 0;
  }
}
