.photo-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}

.photo-card__img-wrap {
  line-height: 0;
}

.photo-card__descr {
  background-color: @bg-item-form;
  padding: 19px 20px 0 20px;
  width: 240px;
}

.photo-card__descr p {
  margin: 0;
}

.photo-card:nth-child(1) {
  position: relative;
  padding: 0 0 20px 0;

  & .photo-card__descr {
    width: 75%;
  }
}

.photo-card:not(:first-child) .photo-card__img {
  width: 280px;
}

.photo-card:nth-child(1) img {
  height: 136px;
}

.photo-card__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.photo-card__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}

.photo-card__user-text {
  font-size: 14px;
  line-height: 24px;
}

.photo-card__like {
  position: relative;
  font-size: 12px;
  line-height: 24px;
  color: @color-pink;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  padding: 9px 0 20px 30px;
}

.photo-card__like::after {
  position: absolute;
  content: "";
  left: -2px;
  top: 15px;
  width: 15px;
  height: 15px;
  background-image: url(../../img/icon-heart.svg);
  background-repeat: no-repeat;
}

.photo-main__footer {
  text-align: center;
}

.photo-main__footer p {
  padding: 5px 23px 29px 23px;
  font-size: 14px;
  line-height: 30px;
}

.photo-card__insc {
  position: absolute;
  content: "";
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  padding: 6px 20px;
  right: 19px;
  font-weight: bold;
  background-color: @color-pink;
}

@media (min-width: 660px) {
  .photo-card:nth-child(1) {
    flex-basis: 100%;
    padding-bottom: 45px;

    & .photo-card__img-wrap {
      width: 660px;
      height: 510px;
      padding: 0;
    }
    & .photo-card__descr {
      flex-direction: row;
      flex-wrap: wrap;
      width: 87%;
      padding-left: 26px;
      padding-top: 24px;
    }

    & .photo-card__name-wrap {
      order: 1;
      flex-basis: 50%;
    }

    & .photo-card__user-text {
      order: 3;
      flex-basis: 100%;
      padding-bottom: 28px;
    }

    & .photo-card__like {
      flex-basis: 20%;
      order: 1;
      text-align: right;
      padding: 0 0 0 135px;
    }

    & .photo-card__like::after {
      left: 265px;
      top: 6px;
    }

    & img {
      height: 509px;
    }
  }

  .photo-card__descr {
    display: flex;
    flex-direction: column;
  }

  .photo-card:not(:first-child) .photo-card__descr {
    min-height: 132px;
    width: 250px;
    padding-top: 23px;
    padding-left: 28px;
    & p {
      min-height: 52px;
    }
  }

  .photo-card:not(:first-child) .photo-card__img-wrap {
    min-height: 300px;
  }

  .photo-card:not(:first-child) .photo-card__img {
    width: 300px;
  }

  .photo-card:not(:first-child) .photo-card__like {
    padding-left: 0;
  }

  .photo-card:not(:first-child) .photo-card__like::after {
    left: 225px;
  }

  .photo-main__footer p {
    font-size: 18px;
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 60px;
    margin-bottom: 7px;
  }

  .photo-card__insc {
    top: 55px;
  }

}

@media (min-width: 960px) {
  .photo-card:nth-child(1) {
    padding-bottom: 50px;

    & .photo-card__name-wrap {
      flex-basis: 60%;

    }

    & .photo-card__img-wrap {
      width: 100%;
      height: 509px;
    }

    & .photo-card__user-text {
      padding-bottom: 23px;
    }

    & .photo-card__like::after {
      left: 330px;
    }

    & .photo-card__descr {
      width: 72%;
      min-height: 72px;
      padding: 22px 40px 0 22px;
    }
  }

  .photo-card:not(:first-child) .photo-card__img-wrap {
    min-height: 398px;
  }

  .photo-card:not(:first-child) .photo-card__descr {
    min-height: 132px;
    width: 255px;
    padding-top: 24px;
    padding-left: 30px;
  }

  .photo-card:not(:first-child) .photo-card__like {
    padding-top: 7px;
  }

  .photo-card:not(:first-child) .photo-card__like::after {
    left: 228px;
    top: 11px;
  }

  .photo-main__footer p {
    padding-top: 5px;
    padding-bottom: 60px;
    margin-bottom: 7px;
    margin-top: 0;
  }

  .photo-card__insc {
    right: 135px;
  }
}
