.photo-filter-wrap {
  min-height: 737px;
  padding: 20px 20px 0 20px;
  margin-bottom: 27px;
  background-color: @bg-item-form;
}

@media (min-width: 660px) {
  .photo-filter-wrap {
    display: flex;
    min-height: 455px;
    padding-top: 57px;
    margin-bottom: 0;
  }

  .photo-filter-wrap__effects {
    width: 275px;
    padding-left: 60px;
  }
}

@media (min-width: 960px) {
  .photo-filter-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 80px;
  }

  .photo-filter-wrap__effects {
    width: 450px;
    padding-left: 0;
  }
}
