.photo-filter-wrap {
  min-height: 737px;
  padding: 20px 20px 0 20px;
  margin-bottom: 27px;
  background-color: @bg-item-form;
  text-align: center;
}

.photo-filter-wrap__tools {
  width: 250px;
  display: inline-block;
  vertical-align: middle;
  min-height: 45px;
  padding-top: 35px;

  &--1 {
    background-image: url(../img/icon-editor-crop.svg);
    background-repeat: no-repeat;
    width: 50px;
  }

  &--2 {
    background-image: url(../img/icon-editor-fill.svg);
    background-repeat: no-repeat;
    width: 50px;
    margin: 0 30px;
  }

  &--3 {
    background-image: url(../img/icon-editor-contrast.svg);
    background-repeat: no-repeat;
    width: 50px;
    padding-top: 17px;
  }
}

@media (min-width: 660px) {
  .photo-filter-wrap {
    display: flex;
    min-height: 455px;
    padding-top: 57px;
    margin-bottom: 0;
  }

  .photo-filter-wrap__effects {
    width: 275px;
    padding-left: 60px;
  }

  .photo-filter-wrap__tools {
    display: none;
  }
}

@media (min-width: 960px) {
  .photo-filter-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 80px;
  }

  .photo-filter-wrap__effects {
    width: 450px;
    padding-left: 0;
  }
}
