.range-controls {
  height: 38px;
  position: relative;
  margin: 0;
  padding-left: 18px;
  margin-top: 7px;
  margin-bottom: 17px;
  border-bottom: 1px solid darkgrey;

  &--active .range-controls__toggle {
    left: 210px;
  }

  &--bright,
  &--pouring {
    display: none;
  }
}

.range-controls__bar {
  width: 92%;
  height: 2px;
  background: black;
}

.range-controls__toggle {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  background: white;
  border: 2px solid @color-pink;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls__toggle:active {
  background-color: @color-pink;
}

@media (min-width: 660px) {
  .range-controls {
    height: 37px;
    position: relative;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 13px;

    &--active .range-controls__toggle {
      left: 165px;
      top: 15px;
    }

    &--pouring,
    &--bright {
      display: block;
    }

    &--pouring .range-controls__toggle {
      left: 45px;
      top: 15px;
    }

    &--bright .range-controls__toggle {
      left: 115px;
      top: 13px;
    }
  }

  .range-controls__bar {
    width: 92%;
    height: 2px;
    background: black;
  }

  .range-controls__toggle {
    position: absolute;
    top: 11px;
    width: 10px;
    height: 10px;
    background: white;
    border: 2px solid @color-pink;
    border-radius: 50%;
    cursor: pointer;
  }

  .rangers {
    width: 240px;
  }
}

@media (min-width: 960px) {
  .range-controls {
    height: 38px;
    position: relative;
    margin: 0;
    padding-left: 52px;
    padding-top: 22px;
    margin-bottom: 10px;

    &--active .range-controls__toggle {
      left: 115px;
      top: 16px
    }

    &--pouring {
      display: block;
    }

    &--pouring .range-controls__toggle {
      left: 290px;
      top: 16px
    }

    &--bright {
      display: block;
    }

    &--bright .range-controls__toggle {
      left: 205px;
      top: 16px
    }
  }

  .range-controls__bar {
    width: 90%;
    height: 2px;
    background: black;
  }

  .range-controls__toggle {
    position: absolute;
    top: 11px;
    width: 10px;
    height: 10px;
    background: white;
    border: 2px solid @color-pink;
    border-radius: 50%;
    cursor: pointer;
  }

  .rangers {
    width: 360px;
  }
}
