.table-price-wrap table {
  border-collapse: collapse;
}

.table-price-wrap {
  min-height: 380px;
  background-color: @border-input-color;
  padding-top: 65px;
  overflow-x: hidden;
}

.table-price__name input {
  opacity: 0;
  height: 0;
  display: block;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .table-price-wrap {
    background-color: @bg-item-form;
    padding-top: 35px;
    min-height: 292px;
  }
}

@media (min-width: 960px) {
  .table-price-wrap {
    min-height: 375px;
    padding-top: 73px;
  }
}
